SpeechRecognition
pyaudio
opencv-python
mediapipe
psutil
pyzmq
websockets
djlint
google-generativeai
wikipedia
litellm
pycaw
comtypes
screen-brightness-control
AppOpener
openai-whisper
soundfile
python-dotenv
customtkinter
